// base
@import 'base/variables';
@import 'base/typography';
@import 'base/media.scss';

// Components
@import 'components/header';
@import 'components/footer';

// mixins
@import 'mixins/mixins';

// Pages
@import 'pages/home';
@import 'pages/skills';
@import 'pages/projects';
@import 'pages/about';
@import 'pages/contact';

body {
    font-family: $font-family;
    font-size: $font-size-base;
    color: $text-color;
    line-height: 1.6;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: darken($link-color, 10%);
    }
}
