$font-family: 'Roboto', san-serif;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 24px;

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: darken($link-color, 10%);
    }
}

.font-body {
    font-size: $font-size-base;
}

.container {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.active {
    color: $secondary-color;
    font-weight: bold;
    border-bottom: 2px solid $secondary-color;
}